{% extends "base.html" %}

{% block error_content %}
{% if error %}
<div class="alert alert-danger alert-dismissable fade show text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error! {{ error }}</strong>
    <div><strong>There was an error with these files:</strong><br />
        <span>{{ files_attempted.AEM }}</span><br />
        <span>{{ files_attempted.NONAEM }}</span>
    </div>
</div>
{% endif %}
{% endblock %}

{% block page_content %}
<div class="container-fluid flex-fill">
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <h1 class="mb-5 mt-5 text-center">UAT Regression Charles Logs</h1>
            <div class="row">
                <div class="col"></div>
                <div class="mb-5 col-6">
                    <form action="upload" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.platform }}
                        </div>
                        <div class="form-group">
                            {{ form.activity }}
                        </div>
                        <div class="form-group">
                            {{ form.list_of_vars }}
                        </div>
                        <div class="form-group">
                            <label for="AEM">AEM FILE: {{ form.AEM }}</label>
                        </div>
                        <div class="form-group">
                            <label for="NONAEM">NONAEM FILE: {{ form.NONAEM }}</label>
                        </div>
                        <button style="float:right;" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <form action="/regression-upload" method="get">
                        <button class="btn btn-warning">New Platform</button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-9">
                    {% if past_uploads %}
                    <ul class="list-group">
                        {% for up in past_uploads.activities %}
                        <li class="list-group-item"><span>{{ up.platform.id }} - {{ up.platform.platform }} - </span>
                            {% for act in up.activities %}
                            <span>{{ act.activity }} |</span>
                            {% endfor %}
                            <div style="float: right;"><a
                                    href="delete?file_id={{up.platform.id}}&file_path={{up.platform.platform_file}}&page={{request.path}}"><button
                                        class="btn btn-danger btn-sm ml-2">Delete</button></a></div>
                            <div style="float: right"><a
                                    href="download_file?file_id={{up.platform.id}}&file_path={{up.platform.platform_file}}"><button
                                        class="btn btn-success btn-sm ml-2">Download</button></a></div>
                            <div style="float: right;"><a href="preview_file?file_id={{up.platform.id}}"><button
                                        class="btn btn-info btn-sm ml-2">Preview</button></a></div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}